/* Import base styles */
@import './base.css';

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* General styles */
#app {
}
body,
html {
  margin: 0;
  padding: 0;
  width: 100vw;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.main-container {
  overflow: visible;
  background-image: url('../assets/meshbg.png');
  background-size: cover;
  background-repeat: repeat;
  width: 100vw;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.introContainer,
.projectsContainer,
.heroContainer {
  width: 100vw;
  margin: 0;
  padding: 0;
}

.heroContainer {
  position: sticky;
  top: 0;
  z-index: 40;
  height: 15vh;
}

@media (max-width: 1024px) {
  .main-container {
    /* width: 100vw; */
  }

  .heroContainer {
    height: 20vh;
  }
}

@media (max-width: 768px) {
  .main-container {
    /* padding: 10px; */
  }

  .heroContainer {
    height: 22vh;
  }

  .projects {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

@media (max-width: 425px) {
  .main-container {
    /* padding: 5px; */
  }

  .heroContainer {
    height: 25vh;
  }

  .introContainer,
  .projectsContainer {
    width: 100%;
  }

  .projects {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  h2,
  p {
    font-size: 1.2rem;
    letter-spacing: normal;
  }

  .heroImage {
    width: 80%;
    max-width: 250px;
    height: auto;
  }
}

@media (max-width: 375px) {
  .main-container {
    /* padding: 5px; */
  }

  .heroContainer {
    height: 28vh;
  }

  h2,
  p {
    font-size: 1rem;
  }

  .heroImage {
    width: 90%;
    max-width: 200px;
    height: auto;
  }
}
